.details{
    position: relative;
    max-width: 1090px;
    width: 100%;
    margin: 50px 220px;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    font-family: 'Cabin', sans-serif;
}

.details h4{
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
}

.details .bag{
    position: relative;
    max-width:715px;
    width: 100%;
    height:auto;
}

.details .img{
    max-width: 150px;
    height: 150px;
    width: 100%;
    display: block;
    object-fit: cover;
}


.details .bagBox{
    display: flex;
    justify-content: space-around;

}


.details .bagBox span{
    margin-top:25px;
}


.row-2 .select_quantity .count{
    width: 100%;

    background-color: transparent;
    border: 1px solid #000;

}

.row-2{
    display:block;
}

.row-2 .select_size{
    display: flex;
}

.row-2 .select_quantity{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:10px 0;
}


.summary{
    max-width:340px;
    width: 100%;
    height:auto;
}

.summary h4{
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
}

.summaryBox .subtotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.summaryBox .ship{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.summaryBox .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.delete{
    margin-top:20px;
    cursor: pointer;
}

.cart{

    background: #111;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 25px;
    display: inline-block;
    margin-top:20px;

    width: 90%;
    padding: 18px 24px;
    border-radius: 30px;    
} 


