.details{
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin:50px 0;
    font-family: 'Cabin', sans-serif;
}

.details img{
    max-width: 500px;
    min-width: 290px;
    height: 300px;
    width: 100%;
    display: block;
    object-fit: cover;
    margin: 50px;
}

.details .details__content{
    max-width: 500px;
    min-width: 290px;
    margin:25px;
    width: 100%;
}

.row-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.details__content .size__css button{
    width: 120px;
    height: 48px;
    margin-bottom: 10px;
    border: 1px solid rgb(145, 145, 145);
    border-radius: 4px;
    outline: none;
    margin-right: 5px;
    cursor: pointer;
    background:#fff;

}
/* 
.details__content .colors button:hover{
    border: 2px solid #000;
}

.details__content .colors button:active{
    border: 1px solid red;
} */

.details__content p{
    line-height: 1.5;
    margin: 15px 0;
}

.details__content .cart{

    background: #111;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 25px;
    display: inline-block;


    width: 90%;
    padding: 18px 24px;
    border-radius: 30px;    
}


@media screen and (max-width:768px){
    .details{
        display:block;
    }
}