header{
    position: relative;
    min-height: 70px;
    overflow: hidden;
    padding:0p 15px;
    height:90px;
    border-bottom: 1px solid #000;
}

header .nav-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 15px 0px 15px;
    /* background:red; */
    height:45px;
}   

.nav-icons .logo a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

.nav-right a{
    font-size:16px;
    padding:0 10px;
    color: #000;
}

.nav-right a:nth-child(1) {
    padding-left: 0;
}


.nav-icons .menu{
    font-size:16px;
    cursor: pointer;
}


/* .nav-menu{
    
} */

.nav-menu ul {
    display: flex;
    justify-content:center;
    padding:0 15px 0 0;
    width: 100%; 
    height:auto;
    margin: 0;
}

.nav-menu ul li{
    position: relative;
    list-style: none;
    display:inline-block;
}

.nav-menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: #000;
    font-weight: bold;
    padding:10px 25px 0 25px;
    font-size: 12px;
}

.nav-menu ul li a:hover::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 20%;
    width: 60%;
    height: 3px;
    background-color: red;
    flex-direction: column;
}


.nav-menu .close{
    display:none;
}

/*header nav{
    display: flex;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #555;
    padding: 0 15px;
}
nav ul li a:hover{
    color: lightseagreen;
}
nav .nav-cart{
    cursor: pointer;
    position: relative;
}
nav .nav-cart span{
    position: absolute;
    top:-12px;
    right: -7px;
    background: crimson;
    font-size: 20px;
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
    z-index: -1;
}
header .menu,
header .close{
    cursor: pointer;
    display: none;
}*/
@media (max-width: 650px){
    .nav-menu ul{
        position: fixed;
        top:0;
        left: -100%;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background: white;
        z-index: 99;
        opacity: 0.97;
        transition: 0.5s linear;
    }
    .nav-menu ul .close{
        display: inline-block;
        position:absolute;
        top:0;
        padding:20px;
        font-size:16px;
        cursor: pointer;
        color: #000;

    }
    header .close{
        position: absolute;
        top:10px;
        right: 20px;
    }
    header ul.toggle{
        left: 0;
    }
} 